<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>  
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/eleventos.png">
</head>
<body>
    <img src="static/show4.png" style="width: 100%; height: 85vw; position: absolute;">
    <section id="main">
        <header id="header" style="position: absolute; border-color:#9600FF">
            <a href="/" class="texto-header" style="top: .4vw;">ELEVENTOS</a>
            <div style="display: flex; position: absolute; left: 33vw; top: .9vw; justify-content: space-evenly; font-weight: 900; font-size: 3.2vw; text-indent: 4.5vw;" class="texto-header">
                <a href="/">HOME</a>
                <a href="eventos">EVENTOS</a>
                <a href="agendar">AGENDAR</a>
                <a href="sobre">SOBRE</a>
            </div>
        </header>
        <div class="module-border-wrap" style="top: 5vw ; width: 99.5%;">
        </div>

        <div style="height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: space-around;align-items: center; gap: 2.5vw; top: 5vw;">
            <div id="divartista1" style="margin-top: 125px;" class="bordaartista divartista">
                <a href="ogrilo">
                    <span class="linkartista"></span>
                </a>
                <div> <!-- div da foto do artista-->
                    <img class="imgartista" src="static/banda1.jpeg">
                </div>
                <div class="divtextoartista""> <!-- div do texto-->
                    <h1 class="h1artista" style="color:#9600FF;">O Grilo</h1>
                    <p class="partista">O Grilo é uma banda brasileira de rock, formada em 2016 na cidade de São Paulo. É composta pelo vocalista Pedro Martins, o guitarrista Felipe Martins, o baixista Gabriel Cavallari e o baterista Lucas Teixeira.</p>
                </div>
            </div>
            <div id="divartista1" class="bordaartista divartista">
                <a href="charliebrown">
                    <span class="linkartista"></span>
                </a>
                <div> <!-- div da foto do artista-->
                    <img class="imgartista" src="static/banda2.jpeg">
                </div>
                <div class="divtextoartista"> <!-- div do texto-->
                    <h1 class="h1artista" style="color:#9600FF;">Charlie Brown Jr.</h1>
                    <p class="partista">Charlie Brown Jr. foi uma banda brasileira de rock formada em 1992 na cidade de Santos, por Chorão (vocal), Champignon (baixo), Marcão Britto (guitarra), Thiago Castanho (guitarra) e Renato Pelado (bateria).</p>
                </div>
            </div>
            <div id="divartista1" class="bordaartista divartista">
                <a href="bmth">
                    <span class="linkartista"></span>
                </a>
                <div> <!-- div da foto do artista-->
                    <img class="imgartista" src="static/banda3.jpg">
                </div>
                <div class="divtextoartista"> <!-- div do texto-->
                    <h1 class="h1artista" style="color:#9600FF;">Bring Me the Horizon</h1>
                    <p class="partista">Bring Me the Horizon (frequentemente abreviado para BMTH) é uma banda britânica de rock, formada em 2004 em Sheffield, South Yorkshire. O grupo é composto atualmente pelo vocalista Oliver Sykes, o guitarrista Lee Malia, o baixista Matt Kean, o baterista Matt Nicholls e o tecladista Jordan Fish.</p>
                </div>
            </div>
            <div id="divartista1" class="bordaartista divartista" style="margin-bottom: 70px;">
                <a href="tylerthecreator">
                    <span class="linkartista"></span>
                </a>
                <div> <!-- div da foto do artista-->
                    <img class="imgartista" src="static/cantor4.webp">
                </div>
                <div class="divtextoartista"> <!-- div do texto-->
                    <h1 class="h1artista" style="color:#9600FF;">Tyler, the Creator</h1>
                    <p class="partista">Tyler Gregory Okonma, nascido em Los Angeles, mais conhecido pelo seu nome artístico Tyler, The Creator, é um rapper, compositor, produtor musical, diretor de videoclipes, empresário, estilista e designer de moda. </p>
                </div>
            </div>
        </div>
    
    </section>
    
</body>
</html>