<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/eleventos.png">
</head>
<body>
    <div><img src="static/showazul.png" class="bg"></div>
    <section id="main">
        <header id="header" style="position: absolute; border-color:#9600FF">
            <a href="/" class="texto-header" style="top: .4vw;">ELEVENTOS</a>
            <div style="display: flex; position: absolute; left: 33vw; top: .9vw; justify-content: space-evenly; font-weight: 900; font-size: 3.2vw; text-indent: 4.5vw;" class="texto-header">
                <a href="/">HOME</a>
                <a href="eventos">EVENTOS</a>
                <a href="agendar">AGENDAR</a>
                <a href="sobre">SOBRE</a>
            </div>
        </header>
        <div class="module-border-wrap" style="top: 5vw ; width: 99.5%;">
        </div>
        <div style="display: flex; position: absolute; top: 9vw; flex-direction: column;">
            <p class="texto-principal">SEU</p>
            <p class="texto-principal">EVENTO</p>
            <p class="texto-principal">ESTÁ AQUI</p>
        </div>
        <div style="display: flex; position: relative; top: 5vw; justify-content: center;">
            <img src="static/eleventos.png" alt="Logo" style="width: 10%;">
        </div>
        <div style="display: flex; position: absolute; top: 8vw; left: 62vw; width: 32vw; height: 37vw; border-style: solid; border-width: .5vw; border-image: linear-gradient(90deg, #9600FF, #FF00C1) 1; flex-direction: column;">
            <p style="text-align: center; font-size: 2vw; padding: 7%; background-image: linear-gradient(180deg, #9600FF, #FF00C1); font-weight: 700;-webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;">Quer passar o melhor tempo da sua vida com a gente? Nós da Eleventos temos um evento que é a sua cara!</p>
            <button class="glow-on-hover" style="align-self: center;" onclick="window.location.href = 'eventos';">QUERO ME DIVERTIR</button>
            <p style="text-align: center; font-size: 2vw; padding: 7%; background-image: linear-gradient(180deg, #FF00C1, #9600FF); font-weight: 700; -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;">Produtora ou artista à procura de uma empresa do seu patamar de excelência? Clique abaixo para agendar.</p>
            <button class="glow-on-hover" style="align-self: center;" onclick="window.location.href = 'agendar';">AGENDAR AGORA</button>
        </div>
    </section>
    
</body>
</html>