<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O Grilo</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="icon" href="static/eleventos.png">
</head>
<body>
    <img src="static/show4_cropped.png" style="width: 100%; position: absolute;">
    <section id="main">
        <header id="header" style="position: absolute; border-color:#9600FF">
            <a href="/" class="texto-header" style="top: .4vw;">ELEVENTOS</a>
            <div style="display: flex; position: absolute; left: 33vw; top: .9vw; justify-content: space-evenly; font-weight: 900; font-size: 3.2vw; text-indent: 4.5vw;" class="texto-header">
                <a href="/">HOME</a>
                <a href="eventos">EVENTOS</a>
                <a href="agendar">AGENDAR</a>
                <a href="sobre">SOBRE</a>
            </div>
        </header>
        <div class="module-border-wrap" style="top: 5vw ; width: 99.5%;">
        </div>
    <div style="display: flex; position: relative; top: 10vw; flex-direction: row; align-items: center; margin-left: 5vw; margin-right: 5vw; justify-content: space-around;">
        <img src="static/ogrilo.jpg" alt="Banda O Grilo" style="width: 50%;">
        <div style="display: flex; position: relative; width: 32vw; height: auto; border-style: solid; border-width: .5vw; border-image: linear-gradient(90deg, #9600FF, #FF00C1) 1; flex-direction: column; background-color: black;">
            <p class="degrade" style="text-align: justify; text-indent: 2vw; font-size: larger;">O Grilo é uma banda brasileira de rock, formada em 2016 na cidade de São Paulo. É composta pelo vocalista Pedro Martins, o guitarrista Felipe Martins, o baixista Gabriel Cavallari e o baterista Lucas Teixeira. O show será realizado às 23 horas do dia 15 de outubro de 2023, no Espaço das Américas, na cidade de São Paulo.</p>    
        </div>
    </div>