<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artes</title>
    <link rel="stylesheet" href="static/style_arte.css">
    <style>
        *{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    </style>
</head>
<body>
    <div style="text-align: center; height: 65px; margin-top: 7px;">
        <img src="static/borboleta-removebg-preview.png" alt="" style="width: 150px;">
        </div>
        <div class="background">
            <header>
                <div class="cabecalho">
                    <li>
                    <a href="portfoliomey">Home</a>
                </li>
                <li>
                    <a href="sobremey">Sobre</a>
                </li>
                <li>
                    <a href="comissoes">Comissões</a>
                </li>
                <li>
                    <a href="portfolio_arte">Portfólio</a>
                </li>
                </div>
            </header>
        </div>    
        <hr>
        <br>
    <div class="artes">
        <img src="static/Cinnabar.png" alt="" width="52%" id="art">
        <img src="static/Mariel.png" alt="" width="45%" id="art">
        <img src="static/Phos post winter.png" alt="" width="85%" id="art">
        <img src="static/Hm.png" alt="" width="35%" id="art">
        <img src="static/Yasugap.png" alt="" width="60%" id="art">
        <img src="static/Loukás.png" alt="" width="60%" id="art">
        <img src="static/Satoru.png" alt="" width="65%" id="art">
        <img src="static/Thinking.png" alt="" width="60%" id="art">
        <img src="static/Blue flowers.png" alt="" height="75%" id="art">
        <img src="static/3.png" alt="" width="40%" id="art">
        <img src="static/Timmy.png" alt="" width="50%" id="art">
        <img src="static/Flower pokemons.png" alt="" width="70%" id="art">
    </div>
    <br><br>
</body>
</html>