<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style3.css">
</head>
<body>
    <div style="text-align: center; height: 65px; margin-top: 7px;">   
        <img src="static/borboleta-removebg-preview.png" alt="" style="width: 150px;">
    </div>
    <div class="background">
        <header>
            <div class="cabecalho">
                <li>
                    <a href="portfoliomey">Home</a>
                </li>
                <li>
                    <a href="sobremey">Sobre</a>
                </li>
                <li>
                    <a href="comissoes">Comissões</a>
                </li>
                <li>
                    <a href="portfolio_arte">Portfólio</a>
                </li>
            </div>
        </header>
    </div>    
    <div class="rede" style="text-align: center; font-weight: bold;">
        <img src="static/insta.png" alt="insta" style="width: 25px;"><a href="https://www.instagram.com/mey_draws13/" target="_blank">Instagram</a>
    </div>
    <hr>
    <br><br>
    <div class="div">
        <h1 style="color: #091f2d;">
            Giovanna Mey Oshima
        </h1>
        <br>
        <h4 style="color: #1a687d;">
            Estudante de Ciências da Computação<br>
            Artista freelancer
        </h4>
    </div>
    <img src="static/Mey-removebg-preview.png" alt="Eu" id="img" >
</body>
</html>