<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/estilo_matheus.css">
    <title>Portfólio | Matheus Chizzolini</title>
</head>
<body>
    <div class="background" id="inicio">
        <header>
            <div class="cabeçalho-link">
                <li>
                    <a href="#inicio">Início</a>
                </li>
                <li>
                    <a href="#sobre-mim">Sobre mim</a>
                </li>
                <li>
                    <a href="#educacao">Educação</a>
                </li>
                <li>
                    <a href="#contato">Contato</a>
                </li>
            </div>
        </header>
        <div class="container-text">
            <div>
                <a href="https://www.instagram.com/matheus.chizzolini/" target="_blank"><img src="static/foto-perfil.jpg" alt="minha foto de perfil" id="foto-perfil"></a>
            </div>
            <div class="texto-inicio text">
                <h3>Olá,</h3>
                <h1>Eu sou <span>Matheus Chizzolini Monteiro</span></h1>
                <p>Estudante de Ciência da Computação na Faculdade de Informática de Presidente Prudente.</p>
            </div>
        </div>
    </div>
    <section id="sobre-mim">
        <div class="sobre-texto">
            <h2>Sobre mim</h2>
            <ol style="line-height: 30px;">
                <li>Eu tenho 18 anos;</li>
                <li>Nasci em Presidente Prudente, SP;</li>
                <li>Entrei no curso de BCC porque sempre tive interesse na área;</li>
                <li>Eu gosto de jogos eletrônicos, séries e filmes;</li>
                <li>Platinei Sekiro: Shadows Die Twice;</li>
                <li>Torço para o Corinthians;</li>
                <li>Gosto muito de vôlei, porém não sou muito bom.</li>
            </ol>
        </div>
    </section>

    <section id="educacao">
        <div class="educa-texto">
            <h2>Educacão</h2>
            <ul style="line-height: 20px;">
                <li>
                    <h3>Ensino Médio completo - Colégio Esquema Único</h3>
                    <p>Concluído no ano de 2022</p>
                </li>
                <br>
                <li>
                    <h3>Cursando o 2º termo de BCC - Unoeste</h3>
                    <p>Término previsto para o ano de 2026</p>
                </li>
            </ul>
        </div>
    </section>
    <section id="contato">
        <div class="contato-texto">
            <h2>Contato</h2>
            <ul style="line-height: 20px;">
                <li>
                    <h3>E-mail:</h3>
                    <p>matchizzolini@gmail.com</p>
                </li>
                <br>
                <li>
                    <h3>Telefone/Celular:</h3>
                    <p>18 99704-6395</p>
                </li>
            </ul>

        </div>
    </section>
</body>
</html>