<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio Evandro</title>
    <link rel="stylesheet" href="static/portfolioCSSEvandro.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <div id="cabecalho">
        <div class="h1cabecalho">
                <h1 class="textocabecalho">Portfólio Pessoal One Page</h1>
        </div>
        <header>
            <div class="link-cabecalho">
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#sobre-mim">Sobre mim</a>
                </li>
                <li>
                    <a href="#contato">Contatos</a>
                </li>
            </div>
        </header>
    </div>

    <div id="home" class="background-image">
        <div class="container-home">
            <div>
                <img class="style-img" src="static/me.jpg">
            </div>
            <div>
                <h3 class="home-h3">Bem-vindo! Sou</h3>
                <h1 class="home-h1">Evandro Taroco de Carvalho</h1>
                <p class="home-p">Atualmente cursando Ciências da Computação na Faculdade Unoeste em Presidente Prudente, São Paulo.</p>
            </div>
        </div>
    </div>

    <div id="sobre-mim">
        <div style="list-style: disc;">
            <h2 class="sobre-h2">Sobre mim</h2>
            <ul class="sobre-ul">
                <li>Tenho 18 anos.</li>
                <li>Moro em Presidente Prudente, São paulo.</li>
                <li>Meus hobbies favorito são: jogar e estudar.</li>
                <li>Torço para o São Paulo Futebol Clube.</li>
                <li>Não tenho um genêro favorito de música.</li>
            </ul>
        </div>
    </div>

    <div id="cursos">
        <div>
            <h2 class="cursos-h2">Cursos profissionalizantes</h2>
            <ul class="cursos-ul">
                <li><h3>Implantação de Serviços em Nuvem - Google Cloud</h3>
                        <p>Situação: Completo</p></li>
                <li><h3>Implantação de Serviços de IA em Nuvem - Google Cloud AI Foundations</h3>
                    <p>Situação: Em andamanto</p></li>

            </ul>
        </div>
    </div>

    <div id="contato">
        <div>   
            <h2 class="contato-h2">Redes sociais e Celular</h2>
            <li class="contato-li">
                <div>
                    <a style="color: rgb(53, 53, 255);" class="contato-li a" ><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;evandrotaroco@hotmail.com</a>
                    <a style="color: rgb(34, 202, 34);" class="contato-li a" ><i class="fa-brands fa-whatsapp"></i>&nbsp;&nbsp;+55 (18) 98138-7976</a>
                    <a style="color: rgb(218, 32, 32);" class="contato-li a" href="https://www.instagram.com/evandrotaroco/"><i class="fa-brands fa-instagram"></i>&nbsp;&nbsp;evandrotaroco</a>
                </div>
            </li>
        </div>
    </div>
</body>
</html>