<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="static/style_sobre.css">
    <style>
        *{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    </style>
</head>
<body>
    <div style="text-align: center; height: 65px; margin-top: 7px;">   
        <img src="borboleta-removebg-preview.png" alt="" style="width: 150px;">
    </div>
    <div class="background">
        <header>
            <div class="cabecalho">
                <li>
                    <a href="portfoliomey">Home</a>
                </li>
                <li>
                    <a href="sobremey">Sobre</a>
                </li>
                <li>
                    <a href="comissoes">Comissões</a>
                </li>
                <li>
                    <a href="portfolio_arte">Portfólio</a>
                </li>
            </div>
        </header>
    </div>    
    <hr>
    <br>
    <div class="sobre">
        <br>
            <li>➸ Eu tenho 18 anos</li>
            <li>➸ Nasci no Japão, vim para Presidente Prudente aos 4 anos de idade</li>
            <li>➸ Estudo na Faculdade de Informática de Presidente Prudente-FIPP, Unoeste</li>
            <li>➸ Não fiz nenhum curso de desenho, aprendi tudo pelo gosto de desenhar(não sou profissional, ainda estou aprendendo)</li>
            <li>➸ Mesmo estudando ciências da computação e com intenção de trabalhar na área, gostaria também de trabalhar com artes/design</li>
            <li>➸ Pretendo um dia aprender animação</li>
            <li>➸ Possuo inglês fluente</li>
            <li>➸ Iniciante em modelagem 3D</li>
            <li>➸ E-mail para contato profissional: <strong>mey13oshima@gmail.com</strong></li>
            <li>➸ Para conversar sobre as comissões, mande uma DM no Instagram</li>
            <li style="text-decoration: line-through;">➸Por favor, compre um desenho e ajude essa artista!😭</li>
            <img src="static/meyzinha-removebg-preview.png" alt="" width="200px" id="eu">
    </div>
</body>
</html>