<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="static/Sobre_style.css">
    <link rel="icon" href="static/eleventos.png">
</head>
<body>
    <style>
          *{margin: 0; padding: 0; font-family: 'Roboto', sans-serif;}
          hr{position: absolute;}
    </style>
        <div><img src="static/showazul.png" class="bg"></div>
        <section id="main">
            <header id="header" style="position: absolute; border-color:#9600FF">
                <a href="/" class="texto-header" style="top: .4vw;">ELEVENTOS</a>
                <div style="display: flex; position: absolute; left: 33vw; top: .9vw; justify-content: space-evenly; font-weight: 900; font-size: 3.2vw; text-indent: 4.5vw;" class="texto-header">
                    <a href="/">HOME</a>
                    <a href="eventos">EVENTOS</a>
                    <a href="agendar">AGENDAR</a>
                    <a href="sobre">SOBRE</a>
                </div>
            </header>
            <div class="module-border-wrap" style="top: 5vw ; width: 99.5%;">
            </div>
            <br><br><br><br><br><br>
            <h1 style="text-align: center;  background: -webkit-linear-gradient(aqua, rgb(255, 73, 179));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent; font-size: xx-large;">Contate-nos caso haja dúvidas!</h1>
            <br>
            <section class="blocos">
            <div>
                <a href="portfoliolucas" style="font-weight: bold;color: #02fee4;" target="_blank">Lucas Panucci</a>
            </div>
            <div>
                <a href="portfoliomey" style="font-weight: bold; color: #02fee4;" target="_blank" >Giovanna Mey</a>
            </div>
            <div>
                <a href="portfolioEvandro" style="font-weight: bold; color: #02fee4;" target="_blank">Evandro Taroco</a>
            </div>
            <div>
                <a href="portfoliomatheus" style="font-weight: bold; color: #02fee4;" target="_blank">Matheus Chizzolini</a>
            </div>
            <div>
                <a href="portfolioenzo" style="font-weight: bold; color: #02fee4;" target="_blank">Enzo Negri</a>
            </div>

        </section>
</body>
</html>